
UnityARFace/UnityARFace/.DS_Store
*.DS_Store
*.csproj
*.sln
UnityARFace/UnityARFace/UnityARFaceDemo/.vs/
UnityARFace/UnityARFace/UnityARFaceDemo/Library/
UnityARFace/UnityARFace/UnityARFaceDemo/Logs/
UnityARFace/UnityARFace/UnityARFaceDemo/obj/
UnityARFace/UnityARFace/UnityARFaceDemo/Temp/
UnityARFace/UnityARFace/UnityARFaceDemo/ProjectSettings/
UnityARFace/UnityARFace/UnityARFaceDemo/UserSettings/
UnityARFace/UnityARFace/UnityARFaceDemo/Packages/
